<div class="card">
    <header>
      <h1 class="display-1 text-center" style="background-color:powderblue;">Ticket Details</h1>
      
      <div class="row"><h3 >Ticket Id: {{ticket.ticketId}} </h3></div>
    </header>
    <body>
      <div class="form-group col-md-2">
         

         <h3 style="color:blue;">Summary: </h3>{{ticket.summary}}</div>
         <br>
         <div><h3 style="color:blue;">Complaint : </h3>{{ticket.complaint}}</div>
         <br>
         <div><h3 style="color:blue;">Description: </h3>{{ticket.description}}</div>
         <br>
      
      </body>
</div>
    
    